{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Frank Amaechi - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Frank Amaechi."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpeg' %}" 
			alt="Frank Amaechi" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Frank Amaechi</h1>
			<h2 class="quickFade delayThree">Intern Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>frankamaechi147@gmail(.)com</li>
		
				<li>+2348050404526</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Frank Amaechi is a python developer who got his training from Zuri and now interns with HNG.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Trainee at Zuri</h2>
					<p class="subDetails">March 2021 - May 2021</p>
					<p>Learnt the basics of python and how to go about little projects like mock atm, caculator, etc.</p>
				</article>
				
				<article>
					<h2>Intern at HNG</h2>
					<p class="subDetails">August 2021 - present</p>
					<p>Currently learning how to sit up.</p>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>Git</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Madonna University Nigeria</h2>
					<p class="subDetails">B eng.</p>
					<p>Graduated from the department of mechanical engineering.</p>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		
        <section>
			<article>
				<div class="sectionTitle">
					<h1>CONTACT ME</h1>
				</div>
				
				<div class="sectionContent">
				 <form>
                   <label for="fname">First name:</label><br>
                   <input type="text" id="fname" name="fname" value="John"><br>
                   <label for="lname">Last name:</label><br>
                   <input type="text" id="lname" name="lname" value="Doe"><br>
                   <label for="body">Body:</label><br>
                   <input type="text" id="body" name="body" value="Write your message">
                   <input type="submit"  value="send">
                 </form>
				
				
				
					
				</div>
			</article>
			<div class="clear"></div>
		</section>
		

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>